<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Web Development Template</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<nav class="navbar background">

    <ul class="nav-list">
        <div class="logo">
            <img src="images/logo.png" alt="Logo">
        </div>

        <li><a href="#web">Web Technology</a></li>
        <li><a href="#program">C Programming</a></li>
        <li><a href="#course">Courses</a></li>
    </ul>

    <div class="rightnav">
        <input type="text" name="search" id="search">
        <button class="btn btn-sm">Search</button>
    </div>

</nav>


<section class="firstsection">

    <div class="box-main">

        <div class="firstHalf">
            <h1 class="text-big" id="web">
                Web Technology
            </h1>

            <p class="text-small">
                HTML stands for HyperText Markup Language.
                It is used to design web pages using a markup
                language. HTML is the combination of Hypertext
                and Markup language. Hypertext defines the link
                between the web pages. A markup language is used
                to define the text document within tags which
                defines the structure of web pages.
            </p>
        </div>

    </div>

</section>


<section class="secondsection">

    <div class="box-main">

        <div class="secondHalf">
            <h1 class="text-big" id="program">
                C Programming
            </h1>

            <p class="text-small">
                C is a procedural programming language.
                It was initially developed by Dennis Ritchie
                as a system programming language to write
                operating systems. The main features of C
                language include low-level access to memory,
                simple set of keywords, and clean style.
            </p>
        </div>

    </div>

</section>


<section class="section">

    <div class="paras">

        <h1 class="sectionTag text-big" id="course">
            Java
        </h1>

        <p class="sectionSubTag text-small">
            Java has been one of the most popular programming
            languages for many years. Java is Object Oriented.
            The Java codes are first compiled into byte code.
            Then the byte code is run on Java Virtual Machine
            (JVM) regardless of the underlying architecture.
        </p>

    </div>

    <div class="thumbnail">
        <img src="images/img.png" alt="Laptop image">
    </div>

</section>


<footer class="background">

    <p class="text-footer">
        Copyright © - All rights are reserved
    </p>

</footer>

</body>
</html>